<h1>Is it a Triangle?</h1>

<% if @triangle.equilateral?() %>
<h5> It is an equilateral triangle!</h5>
<% elsif @triangle.isosceles?() %>
<h5> It is an isosceles triangle!</h5>
<% elsif @triangle.not_triangle?() %>
<h5> It is not a triangle!</h5>
<% elsif @triangle.scalene?() %>
<h5> It is a scalene triangle!</h5>
<% end %>
